<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xu.material">

    <application>
        <activity android:name=".MatrialActivity"></activity>
        <activity android:name=".MatrialActivity" />
    </application>

</manifest>